<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- Web服务器配置 -->
    <add key="WebServerUrl" value="http://localhost:8080" />
    <add key="WebServerPort" value="8080" />
    <!-- 图片存储配置 -->
    <add key="PictureBasePath" value="D:/Picture" />
  </appSettings>
</configuration>
