{
  "config": {
    "apiBaseUrl": "",
    "webPort": 8081,
    "limitCount": 500,
    "stayWarningMinutes": 30,
    "recentRecordCount": 10,
    "exitGraceSeconds": 8,
    "capacityWarningRatio": 0.9,
    "mqttEnabled": true,
    "mqttHost": "192.168.0.12",
    "mqttPort": 1883,
    "mqttTopic": "acs/alarm/event",
    "mqttClientId": "acs-event-standalone",
    "mqttUsername": "",
    "mqttPassword": "",
    "alarmScanSeconds": 5,
    "personInfoMqttEnabled": true,
    "personInfoMqttHost": "192.168.0.12",
    "personInfoMqttPort": 1883,
    "personInfoMqttTopic": "personinfo",
    "personInMqttTopic": "person_in",
    "personOutMqttTopic": "person_out",
    "personInfoMqttClientId": "acs-personinfo-publisher",
    "areaAlertMqttEnabled": true,
    "areaAlertMqttHost": "192.168.0.12",
    "areaAlertMqttPort": 1883,
    "areaAlertMqttTopic": "area_alert",
    "areaAlertMqttClientId": "acs-area-alert-subscriber",
    "abnormalMqttEnabled": true,
    "abnormalMqttHost": "192.168.0.12",
    "abnormalMqttPort": 1883,
    "abnormalMqttTopic": "abnormal",
    "abnormalMqttClientId": "acs-abnormal-subscriber",
    "peopleCountMqttEnabled": true,
    "peopleCountMqttHost": "192.168.0.12",
    "peopleCountMqttPort": 1883,
    "peopleCountMqttTopic": "people_count",
    "peopleCountMqttClientId": "acs-people-count-subscriber"
  },
  "devices": [
    {
      "ip": "192.168.0.164",
      "userName": "admin",
      "password": "your-password",
      "port": 8000,
      "enabled": true,
      "name": "门禁1",
      "remark": "默认门禁设备",
      "deviceID": "",
      "areaID": "root000000",
      "deviceName": "测试门禁",
      "direction": "进",
      "controlDoorNo": 1,
      "doors": []
    }
  ]
}
